.card{
    list-style: none;
    max-width: 364px;
    max-height: 271px;
    background: #FDFDFD;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
    padding: 0;
    border: border-box;
}

.card__image{
    margin: 0;
    padding: 0;
    max-width: 364px;
    height: 203px;
}

.card__container{
    display: flex;
    align-items: center;
    margin: 0 14px 0 14px;
    justify-content: space-between;
}

.card__info{

}

.card__name{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card__btn-save{
    background-repeat: no-repeat;
    border-radius: 50px;
    background: none;
    border: none;
    background-image: url(../../images/button-save.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F9F9F9;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.4s ease;
}

.card__btn-save_active{
    background-repeat: no-repeat;
    border-radius: 50px;
    background: none;
    border: none;
    background-image: url(../../images/button-save-active.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2BE080;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.4s ease;
}

.card__duration{
    color: #A0A0A0;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card__delete{
    background-repeat: no-repeat;
    border-radius: 50px;
    background: none;
    border: none;
    background-image: url(../../images/card-delete.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F9F9F9;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .card{
        max-height: 258px;
    }
    
    .card__image{
        max-width: 339px;
        height: 190px;
    }
}

@media screen and (max-width: 320px) {
    .card__image{
        max-width: 300px;
        height: 168px;
    }

    .card{
        max-width: 300px;
    }
}