.movies{
    background-color: #FDFDFD;
    max-width: 1280px;
    margin: auto;
}

.movies__title{
    height: 50px;
    color: #000;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}


@media screen and (max-width: 768px) {
    .movies{
        max-width: 768px;
    }
}



.movies__message{
    color: #000;
    background: none;
    margin: 0 auto 50px;
    text-align: center;
}