.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 410px;
}

.profile__input{
    background: none;
    border: none;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.profile__input:focus{
    outline: none;
}

.profile__title{
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto;
    padding: 74px 0px 220px;
}

.profile__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__btn-change{
    background: none;
    border: none;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    
    margin-bottom: 16px;
}

.profile__btn-change:disabled{
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    margin: 0 0 16px;
    padding: 0;
    text-align: center;
    color: #7c7c7c;
}

.profile__btn-change:hover{
    opacity: 0.6;
}

.profile__btn-change:disabled:hover{
    opacity: 1;
}

.profile__btn-exit{
    background: none;
    border: none;
    color: #EE3465;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    margin-bottom: 70px;
}

.profile__btn-exit:hover{
    opacity: 0.6;
}

.profile__container{
    display: flex;
    justify-content: space-between;
    padding: 0 0 16px 0;

}

.profile__container:nth-child(1){
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}


.profile__container:nth-child(2){
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .profile__title{
        padding: 236px 0px 96px;
    }

    .profile__btn-exit{
        margin-bottom: 269px;
    }
}

@media screen and (max-width: 320px) {

    .profile{
        width: 284px;
    }

    .profile__title{
        padding: 70px 0 80px;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .profile__form{
        width: 284px;
        margin: 0 auto;
    }
    
    .profile__input{
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .profile__label{
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .profile__btn-exit{
        margin-bottom: 30px;

    }
}

.profile__message {
    font-weight: 500;
    color: #504d4d;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-bottom: 100px;
    visibility: hidden;
  
  }

.profile__message_hidden {
    visibility: visible;
  }

  .profile__input-error{
    color: #EE3465;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    text-align: right;
    margin: 5px 0 20px;
  }