.portfolio{
    background-color: #FFFFFF;
    padding: 0px 70px 125px;
    max-width: 1140px;
    margin: auto; 
}

.portfolio__title{
    margin: 0 auto 50px;
    color: #A0A0A0;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.portfolio__items{
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio__item{
    border-bottom: 1px solid #E8E8E8;
    cursor: pointer;
    padding: 20px 0;
}

.portfolio__item:last-child{
    border-bottom: 0;
}

.portfolio__link{
    margin: 0;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio__description{
    margin: 0;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: -1.2px;
}

.portfolio__icon{
    width: 29px;
    height: 60px;
}

@media screen and (max-width: 768px) {
    .portfolio{
        padding: 0px 18px 90px;
        max-width: 668px;
    }

    .portfolio__icon{
        width: 27px;
        height: 60px;
    }

    .portfolio__description{
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px; /* 178.571% */
        letter-spacing: -1.12px;
    }

    .portfolio__item{
        padding: 19px 0;
    }
}

@media screen and (max-width: 321px) {
    .portfolio{
        padding: 0px 18px 70px;
        max-width: 284px;
    }

    .portfolio__item{
        max-width: 284px;
    }

    .portfolio__description{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
        letter-spacing: -0.72px;
    }

    .portfolio__title{
        margin-bottom: 21px;
    }

    .portfolio__icon{
        width: 18px;
        height: 28px;
    }
}

.portfolio__link:hover {
    opacity: 0.6;
}


