.promo{
    background-color: #5C5C5C;
}

.promo__container{

    padding: 75px 70px 0px 70px;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.promo__discription{
    max-width: 640px;
}

.promo__title{
    margin: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
}

.promo__text{
    margin-top: 36px;
    margin-bottom: 156px;
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    width: 310px;
}

.promo__image{
    background-image: url(../../images/HeaderImage.png);
    background-repeat: no-repeat;
    width: 310px;
    height: 304px;

}

.promo__button{
    width: 129px;
    color: #FFF;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    border-radius: 3px;
    border: 1px solid #979797;
    cursor: pointer;
    margin-bottom: 75px;
}

.promo__button:hover{
    opacity: 0.6;
}

.promo__link{
    text-decoration: none;
    color: #FFF;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .promo__container{
        max-width: 768px;
        padding: 140px 44px 76px;
        flex-direction: column-reverse;
    }

    .promo__image{
        position: static;
        margin: 0 auto 48px;
    }

    .promo__title{
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px;
        text-align: center;
        max-width: 680px;    
    }

    .promo__text{
        margin: 22px auto 92px;
        max-width: 260px;
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .promo__button{
        margin: 0 auto 0;
    }

    .promo__discription{
        margin: auto;
    }
}

@media screen and (max-width: 320px) {
    .promo__container{
        max-width: 284px;
    }

    .promo__image{
        width: 206px;
        height: 206px;
        background-size: cover;
    }

    .promo__title{
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 38px; /* 126.667% */
        letter-spacing: -1.2px;
    }

    .promo__text{
        color: #FFF;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}