.cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 70px;
}

.cards__list{
    padding: 0;
    margin: 0;
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 364px);
    gap: 35px 24px;
    justify-content: center;
}

.cards__btn-yet{
    background: none;
    border: none;
    border-radius: 6px;
    background-color: #F9F9F9;
    width: 320px;
    height: 36px;
    margin: 80px auto;
    cursor: pointer;
}

.cards__btn-yet:hover{
    background-color: #2BE080;
    color: #F9F9F9;
}

@media screen and (max-width:1100px) {
    
}


@media screen and (max-width:769px) {
    .cards{
        border: none;
        padding: 0 18px;
    }

    .cards__list {
        grid-template-columns: repeat(auto-fill, 339px);
        gap: 22px 30px;
        max-width: 708px;
      }
    .cards__button{
        display: block;
        width: 708px;
        margin-top: 60px;
        padding: 0;
        margin-bottom: 160px;
    }
}

@media screen and (max-width: 320px){
    .cards{
        padding: 0 10px;
    }

    .cards__list{
        gap: 16px;
        width: 284px;
        grid-template-columns: repeat(auto-fill, 300px);
        margin: 0;
    }

    .cards__btn-yet{
        width: 240px;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}