.register{
    background-color: #FFFFFF;
    padding: 0;
    margin: 100px auto;
    max-width: 396px;
    align-items: center;
}

.register__title{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.register__form{
    
    display: flex;
    flex-direction: column;
}

.register__label{
    margin: 10px 0;
}

.register__input{
    min-height: 46px;
    background-color: #F9F9F9;
    border-radius: 8px;
    border: 0;
    margin-top: 20px;
}

.register__button{
    margin-top: 40px;
    min-height: 45px;
    background: none;
    border: none;
    background-color: #2BE080;
    border-radius: 3px;
    cursor: pointer;
}

.register__text{
    margin: 16px auto;
    align-items: center;
}

.register__link{
    color: #2BE080;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-left: 6px;
}

@media screen and (max-width: 320px) {
    .register{
        max-width: 284px;
    }

    .register__button{
        margin-top: 179px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .register__text{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .register__button{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .register__title{
        text-align: center;

    }

    .logo{
        margin: auto;
        
    }
}