.login{
    background-color: #FFFFFF;
    padding: 0;
    margin: 70px auto;
    max-width: 396px;
    align-items: center;
}


.login__title{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

.login__form{
    
    display: flex;
    flex-direction: column;
}

.login__label{
    margin: 0;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #A0A0A0;

}

.login__input{
    min-height: 46px;
    background-color: #F9F9F9;
    border-radius: 8px;
    border: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 15px;
    color: #000;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login__button{
    margin-top: 159px;
    min-height: 45px;
    background: none;
    border: none;
    background-color: #2BE080;
    border-radius: 3px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login__button:hover{
    opacity: 0.6;
}

.login__text{
    margin: 16px auto;
    align-items: center;
    color: #A0A0A0;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login__link{
    color: #2BE080;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-left: 6px;
}

@media screen and (max-width: 768px) {
    .login{
        margin-top: 232px;
    }
}

@media screen and (max-width: 320px) {
    .login{
        max-width: 284px;
        margin-top: 56px;
    }

    .login__button{
        margin-top: 247px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .login__title{
        text-align: center;
        margin-top: 50px;
    }

    .login__text{
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    
    }

    

    .login__logo{
        margin: 0 121px;
        
    }
}

.login__logo:hover{
    opacity: 0.6;
}